################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Phases.Umbraco.NeatTip/bin
/Phases.Umbraco.NeatTip/obj
/Phases.Umbraco.NeatTip/Properties/PublishProfiles
